<?xml version="1.0"?>
<!--
 /************************************************************
 * *
 *  * Copyright © ManhThuong99. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author   thuongnm(mthuong03@gmail.com)
 * *  @project   Momo Wallet
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="momo_wallet_config_provider" xsi:type="object">ManhThuong99\MomoWallet\Model\MomoConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="ManhThuong99\MomoWallet\Controller\Payment\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
        </arguments>
    </type>
    <type name="ManhThuong99\MomoWallet\Controller\Payment\ReturnAction">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
            <argument name="method" xsi:type="object">MomoFacade</argument>
        </arguments>
    </type>
    <type name="ManhThuong99\MomoWallet\Controller\Payment\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
            <argument name="method" xsi:type="object">MomoFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="momo_wallet" xsi:type="string">/momo/payment/</item>
            </argument>
        </arguments>
    </type>
</config>